{% extends "layout.html" %} {% block content %}
<div class="row">

    <div class="col-md-2">
        <div class="container-fluid well span6">
            <div class="row-fluid">
                <div class="span2">
                    <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
                </div>

                <div class="span8">
                    <h3>{{user['username']}}</h3>
                    <h6>Email: {{user['email']}}</h6>
                    <h6>Location: {{user['address']}}</h6>
                    <h6>Points: {{user['points']}}</h6>

                </div>

                <div class="span2">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action
                            <span class="icon-cog icon-white"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/addfriend?userID={{request.args.get('userID')}}">
                                    <span class="icon-wrench"></span> Add Friend</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <h5>Friends</h5>
        <ul>
            {% for friend in friends %}
            <li>
                <a href="/user?userID={{friend['userID']}}">{{friend['name']}}</a>
            </li>
            
            {% else %}
            
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="col-md-10">

        <div class="row">

            <div class="col-md-12">
                
                
                <div class="row">
    
                    <h3 class="col-md-12 d-block">Books</h3>
                    
                    <div class="col-md-12 mb-3 d-block">
                        sort by :
                        <a href="?sort=name">Name</a> |
                        <a href="?sort=authors">Author</a> |
                        <a href="?sort=topics">Topics</a> |
                        <a href="?sort=amazon_price">amazon price</a> |
                        <a href="?sort=publisher_name">publisher</a> |
                        <a href="?sort=avail">Availability</a> |
                    </div>
                    <div class="col-md-4 mb-3 d-block">
                        <form method="GET" action="/admin">
                            <div class="input-group">
                                    <input name=filter type="text" class="form-control" placeholder="Filter">
                                    <div class="input-group-append">
                                      <button type="submit" class="btn btn-secondary">Filter</button>
                                    </div>
                            </div>
                        </form>
                        </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ISBN</th>
                                <th scope="col">Name</th>
                                <th scope="col">Authors</th>
                                <th scope="col">Topics</th>
                                <th scope="col">Amazon Price</th>
                                <th scope="col">Publisher</th>
                                <th scope="col">Availability</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in user_books %}
                            <tr>
                                <th scope="row">{{book['ISBN']}}</th>
                                <td>{{book['name']}}</td>
                                <td>{{book['authors']}}</td>
                                <td>{{book['topics']}}</td>
                                <td>{{book['amazon_price']}}</td>
                                <td>{{book['publisher_name']}}</td>
                                <td>{{book['avail']}}</td>
                                
                            </tr>
                            {% else %}
                            <tr>
                                <!-- no book -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- wish list -->
            <div class="row">

                    <div class="col-md-12">
                        <h3>Wishlist</h3>
                        <table class="table">
                                <thead>
                                    <tr>
                        
                                        <th></th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">Title Name</th>
                                        <th scope="col">ISBN</th>
                                        <th scope="col">Authors</th>
                                        <th scope="col">Edition</th>
                                        <th scope="col">Topics</th>
                                        <th scope="col">Amazon Price</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Owner</th>
                                        <th scope="col">Add Date</th>
                                        <th scope="col">Availability</th>
                                        <th></th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for book in wishlist %}

                                    <tr>
                        
                                        <td>
                                            <img height="120" width="80" src="{{book['image_url']}}">
                                        </td>
                                        <td>{{book['bname']}}</td>
                                        <td>{{book['name']}}</td>
                        
                                        <th>{{book['ISBN']}}</th>
                                        <td>{{book['author_names']}}</td>
                                        <td>{{book['edition']}}</td>
                                        <td>{{book['topic_names']}}</td>
                                        <td>{{book['amazon_price']}}</td>
                                        <td>{{book['publisher_name']}}</td>
                                        <td>
                                            <a href="/userpage?userID={{book['userID']}}"></a>{{book['username']}}</td>
                                        <td>{{book['addDate']}}</td>
                                        <td>{{book['avail']}}</td>
                                        
                        
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <!-- no title -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- wishlist -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="valOk" class="row viewerror clearfix hidden">
                    <div class="alert alert-success">
                        {% with messages = get_flashed_messages() %} {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %} {% endwith %}
                    </div>
                </div>
                
            </div>


        </div>

    </div>
</div>
{% endblock %}